@font-face {
	font-family: 'KlinicSlabMedium';
	src: url('KlinicSlabMedium.eot');
	src: url('KlinicSlabMedium.woff') format('woff'), url('KlinicSlabMedium.ttf') format('truetype'), url('KlinicSlabMedium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

